:root {
  --font-family-headings: "Playfair Display", serif;
  --font-family-default: "Poppins", sans-serif;
  --color-primary: #f0fdff;
  --color-secondary: #2fb8cd;
}

body {
  font-family: var(--font-family-default);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-headings);
  font-weight: bold;
}

img {
  pointer-events: none;
}

p {
  font-family: var(--font-family-default);
  font-weight: 500;
}

.hero {
  background-color: var(--color-primary);
  text-align: center;
  padding: 250px 30px 100px 30px;
}

.hero h1 {
  font-size: 96px;
}

.hero h2 {
  font-family: var(--font-family-default);
  font-size: 24px;
  font-weight: normal;
  color: #272142;
  margin: 24px 0;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.secondary-container {
  margin: 0 100px;
}
.secondary-container h1 {
  font-size: 64px;
}

.secondary-container h3 {
  font-family: var(--font-family-default);
  font-size: 24px;
}

.secondary-container p {
  margin: 0;
  font-size: 14px;
}

.secondary-hero-content {
  margin: 50px 30px 20px 30px;
}

.gallery {
  padding: 20px 40px;
}

.heading-restrict {
  max-width: 700px;
}
.underline {
  text-decoration: solid underline 2px var(--color-secondary);
  line-height: 3;
  text-underline-offset: 8px;
}

.about-img {
  padding: 30px;
}

.biography {
  margin: 0 30px;
}

.btn-branding {
  background-color: var(--color-secondary);
  color: white;
  margin-top: 24px;
  padding: 20px 30px;
  font-size: 18px;
  font-weight: medium;
}

.btn-branding:hover {
  border: 1px solid var(--color-secondary);
}

.btn-branding-outline {
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  margin-top: 18px;
  padding: 20px 30px;
  font-size: 18px;
  font-weight: medium;
}

.btn-branding-outline:hover {
  color: white;
  background-color: var(--color-secondary);
}

.description h2 {
  font-size: 64px;
}

.description p {
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 768px) {
  .hero {
    padding: 50px 30px;
  }

  .hero h1 {
    font-size: 48px;
  }

  .hero p {
    font-size: 24px;
  }

  .container {
    text-align: center;
  }

  .container h2 {
    font-size: 36px;
  }
}

@media (max-width: 992px) {
  .hero {
    padding: 50px 30px;
  }

  .hero h1 {
    font-size: 48px;
  }

  .hero p {
    font-size: 24px;
  }

  .container h2 {
    font-size: 36px;
  }
}
