:root {
  --font-family-headings: "Playfair Display", serif;
  --font-family-default: "Poppins", sans-serif;
  --color-primary: #f0fdff;
  --color-secondary: #2fb8cd;
}

body {
  font-family: var(--font-family-default);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-headings);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 24px;
}

p {
  font-family: var(--font-family-default);
  font-weight: 500;
  font-size: 16px;
}

img {
  pointer-events: none;
}

nav {
  padding: 15px 50px;
  position: sticky;
  top: 0px;
  background-color: #fff;
  border-bottom: 8px solid var(--color-primary);
}

nav ul {
  padding: 0;
  margin: 0;
  padding-top: 8px;
}

nav li {
  display: inline;
  margin-left: 10px;
}

nav a {
  color: black;
  text-decoration: none;
}

nav a.active,
nav li a:hover {
  color: var(--color-secondary);
}

.brand {
  font-weight: bold;
  font-size: 28px;
}

.hero {
  background-color: var(--color-primary);
  text-align: center;
  padding: 180px 30px 100px 30px;
}

.hero h2 {
  font-family: var(--font-family-default);
  font-size: 24px;
  font-weight: normal;
  color: #272142;
  margin: 24px 0;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.secondary-container-content h1 {
  font-size: 64px;
}

.secondary-container-content h2 {
  font-family: var(--font-family-default);
  font-size: 24px;
  font-weight: normal;
  color: #272142;
  margin: 24px 0;
}

.secondary-container-content h3 {
  font-family: var(--font-family-default);
  font-size: 24px;
}

.secondary-container-content p {
  margin: 20px 0 0 0;
  font-size: 14px;
}

.secondary-container-content {
  margin: 30px;
}

.gallery {
  padding: 20px 40px;
}

.heading-restrict {
  max-width: 700px;
}
.underline {
  text-decoration: solid underline 2px var(--color-secondary);
  line-height: 3;
  text-underline-offset: 8px;
}

.about-img {
  padding: 30px;
}

.biography {
  margin: 0 30px;
}

.btn-branding {
  background-color: var(--color-secondary);
  color: white;
  margin-top: 24px;
  padding: 20px 30px;
  font-size: 18px;
  font-weight: medium;
}

.btn-branding:hover {
  border: 1px solid var(--color-secondary);
}

.btn-branding-outline {
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  margin-top: 18px;
  padding: 20px 30px;
  font-size: 18px;
  font-weight: medium;
}

.btn-branding-outline:hover {
  color: white;
  background-color: var(--color-secondary);
}

.description p {
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
  margin: 0;
}

.contact a {
  color: var(--color-secondary);
}

.contact p {
  margin: 0;
}

footer {
  margin: 50px 0;
}

footer p {
  font-size: 18px;
}

footer .contact-box {
  background-color: var(--color-primary);
  padding: 40px 80px;
  border-radius: 10px;
}

footer .contact-box .btn {
  margin-top: 20px;
}

footer .email-link a {
  text-align: center;
  text-decoration: none;
  color: black;
}

footer .email-link a:hover {
  color: var(--color-secondary);
}

footer .social-icons {
  text-align: center;
}

footer .social-icons a {
  color: var(--color-secondary);
  background: var(--color-primary);
  border-radius: 50%;
  font-size: 24px;
  margin: 10px;
  padding: 14px;
  transition: all 100ms ease-in-out;
}

footer .social-icons a:hover {
  color: white;
  background-color: var(--color-secondary);
}

.contact-footer {
  margin-top: 200px;
}

@media (max-width: 767px) {
  .hero {
    padding: 50px 30px;
  }

  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  nav ul {
    font-size: 14px;
    margin: 0 auto;
  }

  .hero p {
    font-size: 36px;
  }

  .hero h2 {
  }
  .main-container {
    text-align: center;
  }

  .secondary-container-content h1 {
    font-size: 48px;
  }
}

@media (max-width: 991px) {
  .hero {
    padding: 50px 30px;
  }

  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 36px;
  }
}
